.parent{
    margin: 50px;
    border: 1px solid black;
}

.header{
    color: red;
    position: relative;
    margin: 10px;
    font-weight: 600;
}

.header{
    border-left: 2px solid red;
}

/* .header__separate::before{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 23px;
    background-color: red;
    top:-3px;
    left: -7px;
} */

/* container */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex:1;
}

.card{
    width: 390px;
    padding-left: 5px;
    padding-left:5px;

}

li{
    list-style: none;
    margin-bottom: 5px;
}

.card__footer-list{
    padding: 0;
}

.card__footer-list-item-icon{
    margin-right: 4px;
    color: brown;
}

/*  */